/node_modules
/public/build
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/debugbar
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/.scribe
/public/vendor/scribe
/resources/views/scribe
colors.scheme.xml
databaseDrivers.xml
debugger.xml
editor-font.xml
ide.general.xml
laf.xml
nodejs.xml
web-types-npm-loader.xml
find.xml
